.container {
  position: relative;
  border-radius: 30px;

  width: 90%;
  max-width: 415px;
  overflow: hidden;
  background-color: black;
}
#templateImage {
  display: none;
}
.captchaContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header {
  padding: 20px;
  background-color: white;
  color: black;
}
.header h2, .header h3 {
  margin: 0;
}

.imagePartContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  background-color: white;
}

.frame {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  transition: 0.2s;
}
.frame.selected {
  transform: scale(0.8);
  opacity: 0.8;
}

.frame img {
  width: 400%;
  height: 400%;
  object-fit: cover;
}

.fail,
.success {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.fail p,
.success p {
  font-weight: bold;
  text-align: center;
}
.fail {
  color: red;
}
.success {
  color: greenyellow;
}

.fail img,
.success img {
  padding: 50px;
  width: 300px;
  height: 200px;
  object-fit: contain;
}

.hide {
  display: none;
}
