body {

    min-height: 100vh;
    display: flex;
    font-weight: bold;
    text-decoration:none 
    
    

}

.content {
    position: relative;

    width: 90%;
    max-width: 1000px;

    display: flex;
    justify-content: space-between;
}

.data-box {
    width: 70%;

    display: flex;
    flex-direction: column;
}

.party_line{
    padding: 12px;
    margin: 10px;

    margin-left: 0px;
    border: 3px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    resize: none;
}

.party_input{

    height: 200px;
    padding: 12px;
    margin: 10px;
    margin-top: 80px;
    margin-left: 0px;

    border: 3px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    resize: none;
}

#party_submit {
    width: 90px;
    margin: 10px;
    padding: 10px;
    margin-left: auto; /*Pas certain que c'est la bonne manière de*/
    border-radius: 20px;
}

.addressContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    width: 100%;
}
.addressContainer input {
    width: calc(100% - 110px);
}
.addressContainer button {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.checkBoxContainer {
    position: relative;
    width: fit-content;

    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
}
.checkBoxContainer:hover .information {
    display: block;
}
.information {
    display: none;
    position: absolute;
    left: calc(100% + 10px);
    top: 50%;
    transform: translateY(-50%);
    
    font-size: 12px;
    width: max-content;
    max-width: 500px;
    margin: 0;
    padding: 10px;

    background-color: hsl(229, 41%, 18%);
    border-radius: 10px;
}
.information::after {
    content: "";
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent hsl(229, 41%, 18%) transparent transparent;
}

.rulesContainer {
    background-color: hsl(229, 41%, 18%);
    
    border: 5px solid hsl(229, 41%, 18%) ;
    border-radius: 20px;
    width: 18%;
    padding: 20px;
    max-height: 500px;
}
.rules {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: calc(100% - 90px);
    gap: 10px;
}

.rules p {
    padding: 10px;
    margin: 0;
}