:root {
  --light-blue: rgba(52, 60, 168, 1);
  --dark-blue: rgba(2, 0, 99, 1);

  --button-blue: rgb(21, 65, 126);
  --hover-blue: rgb(32, 86, 168);
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #343ca8;
  background: linear-gradient(
    90deg,
    var(--light-blue) 0%,
    var(--dark-blue) 70%
  );
  color: white;
}

.pageContainer {
  position: relative;
  height: 100vh;
}
.pageContainer.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.selectorContainer {
  position: relative;

  width: 100%;
  height: 40px;
}
.selectorContainer .options {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--button-blue);

  border: 1px solid white;
  border-radius: 20px;
}
.selectorContainer .options p {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  cursor: pointer;

  z-index: 10;
}
.selectorContainer .options p:first-child {
    left: 25%;
}
.selectorContainer .options p:last-child {
    left: 75%;
}
.selectorContainer .selector {
    position: absolute;
    top: 1px;
    height: 100%;
    width: 50%;
    border-radius: 20px;
    background-color: var(--hover-blue);
    
    z-index: 5;

    transition: 0.2s;
}
.selectorContainer .selector.left {
    left: 1px;
}
.selectorContainer .selector.right {
    left: calc(50%);
}

button,
input[type="submit"] {
  cursor: pointer;
  border: none;
  background-color: var(--button-blue);
  color: white;

  font-size: 1.1rem;

  padding: 0.5rem 2rem;
  border-radius: 8px;

  transition: 0.3s background-color;
}

button:hover {
  background-color: var(--hover-blue);
}

input,
textarea {
  border-radius: 10px;
  border: 1px solid gray;
  padding: 0.5rem;
  outline: none;
}

#back {

  z-index: 1000;
  position: absolute;
  left: 10px;
  top: 10px;

  width: 30px;
  aspect-ratio: 1;

  cursor: pointer;
  transform: 0.2s;
}

#back:hover {
  transform: scale(1.1);
}

.modalContainer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modalBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--button-blue);
  padding: 1rem;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  text-align: center;
  color: white;
}