.leaflet-control-container { display: none; }

:root {
    --sidebar-width: 400px;
}

body{
    overflow:hidden;
}

.sidebar {
    position: absolute;
    left: 0;
    width: calc(var(--sidebar-width) - 2 * 20px);
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

#map {
    position: absolute;
    left: var(--sidebar-width);
    width: calc(100% - var(--sidebar-width));
    height: 100vh;
    margin: 0;
    padding: 0;
}

.links {
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin: 0 auto;
    
    display: flex;
    flex-direction: column;
    gap: 20px;

    z-index: 1000;
}
.links a {
    position: relative;
    transition: 0.2s;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 100%;
    
    background-color: #00D0FF;
}
.links a:hover {
    background-color: var(--hover-blue);
}
.links img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    aspect-ratio: 1;

    z-index: 1;
}


.cardContainer{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x:hidden;
    
    height: 100vh;
    width: 90%;
    padding: 20px;



}

.cardParty{
    background-color: hsl(229, 41%, 18%);
    border: 5px solid hsl(229, 42%, 42%) ;
    border-radius: 20px;

    width: 85%;
    margin: 15px;
    padding: 10px;


}
