body {
    width: 100vw;
    height: 100vh;
    display: flex;
    font-weight: bold;
    text-decoration:none 
    
    

}


/*Left panel*/

.leftPanel {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; 
    flex: 0 0 170px; /*Gardera la taille min car sinon bug sûr d'autres écrans*/
    height: 100%;
    background-color: hsl(228, 42%, 18%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    

}


.partyContainer nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
    align-items: left;

    margin-top: 80px;
    margin-left: 15%;;
    gap: 40px;
}

.partyContainer nav img {
    width: 20%;
    padding: 10px;
    margin-top: 5px;

}


.partyContainer nav a :hover{
    background-color: hsl(231, 40%, 10%);
    border-radius: 30%;
}

.partyContainer nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    
}

.partyContainer nav a span{
    margin-top: 5px;
}





/*Right panel*/

.rightPanel {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-left: 35%;
    

}

.data-box{
    width: 45%;
    height: 80%;
    
    
    display: flex;
    flex-direction: row;
    align-items: center;

}





