body {

    min-height: 100vh;
    display: flex;
    font-weight: bold;
    text-decoration:none 
    
    

}


/*Left panel*/

.leftPanel {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; 
    min-height: 100vh;
    flex: 0 0 170px; /*Gardera la taille min car sinon bug sûr d'autres écrans*/
    height: 100%;
    background-color: hsl(228, 42%, 18%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    

}


.partyContainer nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
    align-items: left;

    margin-top: 80px;
    margin-left: 15%;
    gap: 40px;
}

.partyContainer nav img {
    width: 15%;
    padding: 10px;
    margin-top: 5px;

}


.partyContainer nav a :hover{
    background-color: hsl(231, 40%, 10%);
    border-radius: 30%;
}

.partyContainer nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    
}

.partyContainer nav a span{
    margin-top: 5px;
}





/*Right panel*/

.rightPanel {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-left: 25%;
    

}

.data-box{
    width: 60%;
    height: 80%;
    
    display: flex;
    flex-direction: column;
    align-items: left;

}


.user-info{
    display: flex;
    align-items: center;
    gap : 10px;
    background-color: hsl(228, 42%, 18%);
    padding: 10px;
    border-radius: 50px;
    height: 4vh;
}

.user-info img{

    width: 40px;
    height: 40px;
    margin-left: 10px;
    border-color: hsl(231, 40%, 10%);
    border-radius: 50px;
}
.user-info h4{
    margin-left: auto;
    padding-right: 3vh;
}

#description{
    background-color: hsl(229, 41%, 18%);
    border: 5px solid hsl(229, 41%, 18%) ;
    border-radius: 25px;
    padding: 20px;

}

#party_comment{
    
    border-radius: 50px;
}

#comment_picture img{
    max-width: 3vh;
    max-height: 3vh;
}

.button-comment{
    margin-left: auto;
    border-radius: 50px;
}

.subbar-input{
    display: flex;
    flex-direction: row;
    align-items: right;
    margin-top: 1vh;
    
}


.rating{
    background-color: hsl(229, 41%, 18%);
    border: 5px solid hsl(229, 41%, 18%) ;
    border-radius: 20px;
    margin-left: 10vh;
    margin-bottom: 15vh;
    padding: 20px;
    height: 60vh;
    width: 20vh;
}
.rating button{
    background-color: transparent;
    padding : 0px;
    margin: 8px;
}








