body {

    width: 100vw;
    height: 100vh;
}

.hidden {

    display: none;
}

/* ### LEFT PANEL ###*/

.leftPanel {
    
    position: relative;

    width: 25%;
    height: 100%;

    overflow: hidden;

    color: white;

    background-color: rgb(0, 0, 0, 50%);
}

.leftPanel .container {
    
    position: relative;

    height: 95%;
    top: 60px;
}

.leftPanel .profile {
    
    display: flex;
    position: relative;

    align-content: center;

    left: 10px;
    margin-bottom: 20px;

    gap: 20px;
}

.leftPanel .profile .profilePicture {
    position: relative;
    
    width: 75px;
    height: 75px;
    
    overflow: hidden;
    border-radius: 100%;
    
    object-fit: cover;
}

.leftPanel .profile .username {

    font-size: 2rem;

    margin: 0px;
    align-self: center;
}

.leftPanel .profile svg {
    
    align-self: center;

    transition: 0.3s;
}

.leftPanel .profile svg:hover {
    
    color: var(--hover-blue);
}

.leftPanel .editFriend {
    
    position: relative;

    font-size: 1.2rem;

    left: 190px;

    transition: 0.3s;
}

.leftPanel .editFriend:hover {

    color: var(--hover-blue);
}

#collapseMenu {

    position: relative;

    left: 50px;

    transition: 0.3s;
    transform-origin: top;  
}

.leftPanel .rotate {
    
    transform: rotate(180deg);
}

.leftPanel .collapsed {

    transform: scaleY(0);
}

.leftPanel .star {
    
    width: 30px;
    margin-right: 10px;
}

.leftPanel #disconnect {

    position: absolute;

    margin: 20px;

    bottom: 0;
}


/* ### RIGHT PANEL ###*/

.rightPanel {
    display: block;
    position: absolute;

    overflow-y: scroll;

    left: 25%;
    bottom: 0;
    width: 75%;
    height: 100%;
}

.friendSearch {
    
    position: absolute;

    left: 50%;
    transform: translateX(-50%);

    top: 20px;

    z-index: 1000;

    --width: 350px;
}

.friendSearch #searchBar {

    width: var(--width);
}

.friendSearch .searchResult {

    display: none;

    background-color: rgba(0, 0, 0, 80%);
    
    width: calc(var(--width) - 20px);
    max-height: 400px;
    overflow-y: scroll;

    border-radius: 8px;
    padding: 10px;
}

.friendSearch .searchResult .searchElement {
    position: relative;
    background-color: var(--hover-blue);

    width: calc(var(--width) - 20px);
    height: 60px;

    border-radius: 8px;
    margin-bottom: 10px;
}

.friendSearch .searchResult .searchElement img {

    position: absolute;

    top: 50%;
    transform: translateY(-50%);
    left: 15px;

    border-radius: 100%;

    width: 50px;
    aspect-ratio: 1;
}

.friendSearch .searchResult .searchElement span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 80px;

    font-size: 30px;
    font-weight: bold;

    user-select: none;
}

.partyContainer {

    margin-top: 100px;
}

.partyElement {

    position: relative;

    width: 85%;
    height: 30%;

    padding: 20px;

    margin: 25px;

    border-radius: 20px;
}

.partyElement h1 {
    
    font-size: x-large;
    
    margin: 0;

    border-bottom: white solid 1px;
}

.partyElement .imgContainer {

    display: flex;

    flex-direction: row;
    justify-content: left;

    flex-grow: 0;
    overflow-x: scroll;
}

.partyElement .imgContainer .elem {
    
    width: 120px;
    height: 120px;

    aspect-ratio: 1;

    margin: 10px;

    background-color: aqua;
}