.partyInfo {
    margin-top: 20px;
    background-color: var(--dark-blue);
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    max-width: 90%;
}
.actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
    max-width: 90%;
    width: 300px;
}